{{define "produit"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="navigation"> 
        <img class="logo" src="..\static\img\logo\logo.png">
        <nav>
            <a href="/">Acceuil</a>
            <a href="/add-produit">Ajouter</a>
        </nav>
    </header>
    <section class="article-wrapper">
        
         <div class="article-conteneur">
            <img src="{{.Image}}" alt="{{.Nom}}" class="art-image">
            <div class="description">
                <h2 class="article-detail">{{.Nom}}</h2>
                {{if .EstenReduc}}
                <p class="prix">
                    <span class="ancien-prix">{{printf "%.2f" .Prix}} €</span>
                    <span class="nouveau-prix">{{.Reduction}} €</span>
                </p>
                {{else}}
                <p class="prix">{{printf "%.2f" .Prix}} €</p>
                {{end}}
                <button>ajouter au panier</button>
            </div>
        </div>
    </section>
</body>
</html>
{{end}}